/* 여기에 스타일을 구현해 주세요 */
.avatars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatarPic {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  position: relative;
  padding: 20px;
  width: 64px;
  height: 64px;

  .facePic {
    width: 64px;
    height: 64px;
    border: 0px solid;
    border-radius: 50%;
  }
  .status {
    position: absolute;
    z-index: 1;
    right: 18px;
    bottom: 18px;
  }
}
