/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #121212;
  position: relative;
}

.logo {
  width: 230px;
  width: 100%;
  text-align: center;
  margin: 100px 0 60px 0;
}
.id,
.pw {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
  height: 45px;
  border: 1px solid #dadada;
  background: #fff;
  #idEmail,
  #passWord {
    font-size: 14px;
    padding: 20px;
  }
  @media (min-width: 768px) {
    inline-size: 500px;
    margin: 20px auto;
  }
}

.logButton {
  margin: 20px;
  button {
    font-size: 16px;
    height: 45px;
    color: #fff;
    background: #03cf5d;
    margin: 20px auto;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px) {
    inline-size: 500px;
    margin: 20px auto;
  }
}
.cbox {
  border: 1px solid #333;
  display: flex;
  flex-flow: row nowrap;
  margin: 20px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  max-height: 24px;

  .loginCheckbox {
    border: 1px solid #333;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
    }
    input:checked + .boxImage {
      background-image: url("/src/login/checked.svg");
    }
    @media (min-width: 768px) {
      inline-size: 500px;
      height: auto;
      margin: 20px auto;
      

    }

    .boxImage {
      display: inline-block;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      padding-right: 5px;
      background: url("/src/login/unchecked.svg") no-repeat;
    }
  }
}
